<script>
    $(function () {
        $(".dropdown-menu a").click(function () {
                 var selText = $(this).text();
                 $(this).parent().parent().find(".selection").html(selText);
        });
    });

    var prev_value = 0;
    var k_vals = [1, 2, 3, 4, 5, 10, 20, 50]
    $(document).ready(function() {
        const $value = $('#k_range');
        $value.on('input change', () => {
            if ($value.val() != prev_value) {
                new_k_val = k_vals[$value.val()]
                $('#k_range_val').text("k=" + new_k_val);
                console.log("k=" + new_k_val);
                $('#k-h36m').attr("src", "/assets/img/belfusion/k_analysis/k_h36m_" + $value.val() + ".png");
                $('#k-amass').attr("src", "/assets/img/belfusion/k_analysis/k_amass_" + $value.val() + ".png");
            }
            prev_value = $value.val();
        });
      });


    document.addEventListener("DOMContentLoaded", function() {
        var lazyloadThrottleTimeout;
        
        var elements = document.getElementsByClassName('dropdown-item');
        var collapse_behavior = document.getElementById('collapse-behavior');

        function lazyload (event) {
            if(lazyloadThrottleTimeout) {
            clearTimeout(lazyloadThrottleTimeout);
            }    
            img_id = this.text
            img = $("#" + img_id).children("img").get(0)
            if ($(img).hasClass('lazy')){
                lazyloadThrottleTimeout = setTimeout(function() {
                    img.src = img.dataset.src;
                    img.classList.remove('lazy');
                }, 20);
            }
        }
        
        function lazyload_behavior_transfer (event) {
            if(lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
            }    
            console.log($("#collapse-behavior-content"), $("#collapse-behavior-content").children("img"))
            imgs = $("#collapse-behavior-content").find("img")
            lazyloadThrottleTimeout = setTimeout(function() {
                imgs.each(function(i){
                    img = imgs[i]
                    if ($(img).hasClass('lazy')){
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        clearTimeout(lazyloadThrottleTimeout);
                    }
                });
            }, 20);
        }
        
        Array.from(elements).forEach((element) => {
        element.addEventListener('click', lazyload);
        });
        
        collapse_behavior.addEventListener('click', lazyload_behavior_transfer);

    });
</script>